body {
  margin: 0;
  background: url("https://images.pexels.com/photos/7233177/pexels-photo-7233177.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  font-size: 30px;
  font-family: "Permanent Marker", cursive;
}

.title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: -1px 7px 36px 1px rgb(10, 10, 10);
  opacity: 0.8;
  max-width: 1600px;
}
h1 {
  font-size: 3rem;
  background: rgb(28, 26, 26);
  font-weight: 700;
  padding: 25px;
  color: rgb(213, 184, 184);
  letter-spacing: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(28, 26, 26);
  max-width: 70%;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  opacity: 0.8;
  box-shadow: -1px 7px 36px 1px rgb(10, 10, 10);
}

.rock {
  background-image: url("./img/rock.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  height: 250px;
  float: left;
}

.paper {
  background-image: url("./img/paper.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  height: 250px;
  float: left;
}
.scissor {
  background-image: url("./img/8721734_scissors_scissor_cut_icon.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  height: 250px;
  clear: both;
}

.rock:hover,
.paper:hover,
.scissor:hover {
  transform: rotate(360deg);
  transition: all 200ms ease-in-out;
}

#cpu {
  font-size: 2rem;
  margin-left: 15%;
  margin-top: 10px;
  float: left;
  padding: 10px;
}
#user {
  font-size: 2rem;
  margin-right: 15%;
  margin-top: 10px;
  float: right;
  padding: 10px;
}
#result {
  font-size: 3rem;
  clear: both;
  text-align: center;
  padding: 10;
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }
  #cpu,
  #user {
    font-size: 1rem;
  }
  .rock,
  .paper,
  .scissor {
    width: 150px;
    height: 150px;
  }
  .rock:hover,
  .paper:hover,
  .scissor:hover {
    transform: rotate(360deg);
    transition: transform 200ms ease-in-out;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
